@(diaryEntryForm : Form[DiaryEntry], title : String)
@import helper._
<html>
<head>
    <title>@title</title>
</head>
<body>
    <h1>@title</h1>
    @form(action = routes.DiaryEntryController.save){
        @helper.input(diaryEntryForm("stress"), '_label -> "Stress Level") { (id, name, value, args) =>
            <input type="range" class="form-control-range" id="@id" name="@name" min="1" max="10" value ="5" onchange="updateSlideValue('@id','stressSlider');">
            <span id ="stressSlider">5</span>
        }
        <p>Where hurts?</p>
        @checkbox(diaryEntryForm("arms"), '_label -> "Arms")
        <input type ="submit" value = "Submit"/>
    }
    <script src='@routes.Assets.versioned("javascripts/custom.js")'></script>
</body>
</html>