@(diaryEntryForm : Form[DiaryEntry])
@import helper._
<html>
<head>
    <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
    <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">

    <title>Journal Entry</title>
</head>
<body>

@form(action = routes.DiaryEntryController.update()){
    @_diaryPartial(diaryEntryForm)
}
<script src='@routes.Assets.versioned("javascript/custom.js")'></script>
</body>
</html>