@import service.UserProvider
@(userProvider: UserProvider, diaryEntries : List[DiaryEntry], userName : String, userMail : String, pageNo : Integer , totalPages : Integer, admin : Boolean, users : List[User])

@main(userProvider, "Coach Monitor") {
    @if(admin && !users.isEmpty()){
        <input type="text" id="searchBox" onkeyup="searchTable()" placeholder="Search athletes...">
    <a onclick="getAthleteEntries('@routes.Application.getAthleteJournalEntries("rorybyrnecoach@gmail.com",1)')" class="btn btn-primary">

        Get Rory Byrne
    </a>
    }
    <div id="journalEntries">
        @_desktopPartial(diaryEntries, userName, userMail, pageNo, totalPages)
    </div>
}
